.snow {
    opacity: 0.9;
    position: fixed;
    background-color: white;
    border-radius: 100px;

    animation-name: deep-down, path, fade-out;
    animation-timing-function: linear, ease, linear;
    animation-iteration-count: infinite, infinite, infinite;
    animation-direction: normal, alternate, normal;

    /* speed */
    animation-duration: var(--down-speed), var(--path-speed), var(--down-speed);

    /* x offset */
    left: calc( var(--left) * 1% );

    /* size */
    &.size-smaller { width: 2px; height: 2px; }
    &.size-small { width: 3px; height: 3px; }
    &.size-middle { width: 5px; height: 5px; }
    &.size-large { width: 6px; height: 6px; }
}

@keyframes deep-down {
    0% { top: calc( var(--top) * -1px); }
    100% { top: calc( 100vh + var(--top) * 1px ); }
}

@keyframes path {
    0% { transform: translateX( calc( var(--path) * 1px ) ); }
    100% { transform: translateX( calc( var(--path) * -1px ) ); }
}

@keyframes fade-out {
    0% { opacity: 0.9; }
    80% { opacity: 0.9; }
    90% { opacity: 0.2; }
    100% { opacity: 0; }
}