* {
    font-family: Tahoma, sans-serif;
}

.dashboard-wrap {
    background-color: black;
    color: white;
    padding: 20px 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .clock-wrap {
        
        .hour-wrap {
            font-size: 72px;
        }

        .text-1 {
            font-size: 62px;
        }

        .minutes-wrap {
            font-size: 72px;
        }

        .text-2 {
            font-size: 26px;
        }

        .seconds-wrap {
            font-size: 26px;
        }
    }

    .date-wrap {
        font-size: 20px;
        line-height: 0.8;
    }
}