* {
    font-family: Tahoma, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-wrap {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .clock-wrap {
        
        .hour-wrap {
            font-size: 72px;
        }

        .text-1 {
            font-size: 62px;
        }

        .minutes-wrap {
            font-size: 72px;
        }

        .text-2 {
            font-size: 26px;
        }

        .seconds-wrap {
            font-size: 26px;
        }
    }

    .date-wrap {
        font-size: 20px;
        line-height: 0.8;
    }
}